.header{
  background-color: black;
  color: white;
  margin-top: 0;
  padding-left: 50px;
  line-height: 60px;
  font-size: 30px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
